@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

.bg-black{
    background-color: black!important;
}

.bg-black-300{
    background-color: #1a1a1a9e!important;
}

.text-white{
    color: white;
}

.text-red{
    color:red!important;
}

.text-green{
    color:#2fe42f!important;
}

.text-white-300{
    color:#7f7474;
}

.text-accent{
    color: #6de573;
}